html {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

div.container {
    top: 0;
    position: fixed;
    display: inline-block;
    float: left;
    text-align: center;
    background: blue;
    width: 100%;
    color: white;
    box-shadow: 0px 5px 5px grey;
}

.logo {
    float: left;
    padding: 10px;
    margin-left: 20px;
}

.navbar {
    float: right;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background: blue;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 20px;
}

.menuitem {
    text-decoration: none;
    color: white;
}

.menuitem:hover {
    transition: all 1s ease;
    background-color: white;
    color: blue;
}

.bod {
    background: url(../images/pp.gif) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Set rules to fill background */
    min-width: 100%;
}

.content {
    align-content: center;
    text-align: left;
    display: block;
    height: 200px;
    color: white;
    margin-top: 40px;
    padding-top: 4em;
    padding-left: 2.5em;
}

.filler {
    height: 200px;
    background: blue;
    color: white;
}

.tagline {
    text-align: left;
    line-height: 200px;
    margin-left: 2.5em;
}

footer {
	background: grey;
	color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto);
    grid-row-gap: 1em;
}

.legal {
    font-size: 10px;
    text-decoration: none;
	color: white;
}

.textl {
    text-align: left;
}

.textc {
    text-align: center;
}

.textr {
    text-align: right;
}

.padtop1 {
    padding-top: 1em;
}
/*br{
	line-height: 150%;
}*/

li {
    padding-bottom: .5em;
}

/*
Mobile Phone Styling 
================================================================================
*/

@media screen and (max-width: 600px) {
    html {
        font-size: 30px;
    }
    .logo {
        float: left;
        padding: 10px;
        margin-left: 5px;
    }
    .content {
        padding-left: 1em;
    }
}






/*
End mobile phone styling 
=================================================================================
*/